<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

  <link rel="stylesheet" href="/web-assets/styles.css">
</head>
<body>
  <div class="setup-topbar">
    <div class="container">
      <h1><%= title %></h1>
    </div>
  </div>

  <div class="container mt-3">
    <p>Please go to the <a href="/admin">admin panel</a> or <a href="https://github.com/rethym">download a compatible Rethym client</a>.</p>
  </div>
</body>
</html>
